<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbearia Estética</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/submenu.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>>
<body>
    <header class="header">
        <!-- Logo -->
        <h1 class="section-title">
            <a href="/Home/Index"><img src="~/images/Home/Home.jpeg" alt="About-Image" style="width: 100px; height: 100px; border-radius:100%"></a>
        </h1>
        <nav class="navbar" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-home fa-lg" aria-hidden="true" style="color: chocolate;"></i>
                <a href="/Home/Index" style="margin-left: 10px; color: black !important">Inicio</a>
            </span>


            <div class="dropdown" style="position: relative; display: inline-block;">
                <span style="display: flex; align-items: center; margin-right: 20px;">
                    <i class="fa fa-user" aria-hidden="true" style="color: chocolate;"></i>
                    <a href="/Usuario/Login" style="margin-left: 10px; color: black !important">Login</a>
                </span>
                <div class="dropdown-content"
                     style="display: none; position: absolute; background-color: #EAE7DC; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%; border: #A65F3C solid 1px; box-shadow: 5px #A65F3C;">
                    <a href="/Usuario/Index" style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px; color: black!important">
                        <i class="fa fa-users" aria-hidden="true" style="margin-right: 8px;"></i>
                        Usuarios
                    </a>
                    <a href="/Agendamento/Index"
                       style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px; color: black!important">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento Admin
                    </a>
                    <a href="/Agendamento/AgendamentoUsuario"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px; color: black!important">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento User
                    </a>
                    <a href="/Agendamento/CadastroAgendamento"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px; color: black!important">
                        <i class="fa fa-file" aria-hidden="true" style="margin-right: 8px;"></i>
                        Cadastro Agendamentos
                    </a>
                    <a href="/Servico/Index"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px; color: black!important">
                        <i class="fas fa-gavel fa-lg" aria-hidden="true" style="margin-right: 8px;"></i></i>
                        Serviço
                    </a>
                    <a href="#logout"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px; color: black!important">
                        <i class="fa fa-align-justify" aria-hidden="true" style="margin-right: 8px;"></i><b></b>
                        Relatório
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <!-------------------- Footer Area (Start) -------------------->
    <footer>
        <div class="social">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin-in"></a>
        </div>

        <div class="content">
            <p>created by <span>AS_Designs</span> | all rights reserved</p>
        </div>
    </footer>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
